#ta_initial_date_field {
	display: none;
}

select.cmb_select_small {
	width: 100px;
	margin-right: 15px;
}

#_cmb_google_map {
	width: 400px;
	height: 300px;
}

/*
*    Rules for date range meta box
*/

#ta_course_date_meta .date {
    width: 200px;
}

#ta_course_date_meta .time {
    width: 70px;
}

#ta_course_date_meta .daterange {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px black;
}

#ta_daterange_metabox .cmb-type-google-style-datepicker input {
    margin: 0px;
}

#ta_daterange_metabox .cmb-type-google-style-datepicker input.date {
    width: 230px;
}

#ta_daterange_metabox .cmb-type-google-style-datepicker input.time {
    width: 70px;
}